/* Reset básico */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilo do corpo */
  body {
    background-color: black;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Cabeçalho */
  header {
    text-align: center;
    margin-bottom: 30px;
  }
  
  h1 {
    color: #307dc9;
    font-weight: 700;
    font-size: 2.5em;
  }
  
  /* Container principal */
  main {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1200px;
    gap: 40px;
  }
  
  section {
    background-color: #84e2ff;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
    flex: 1;
    min-width: 300px;
  }
  
  h2 {
    color: black;
    margin-bottom: 20px;
    font-weight: 700;
    text-align: center;
  }
  
  /* Formulário */
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
  }
  
  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
  }
  
  input:focus, select:focus {
    border-color: #307dc9;
  }
  
  button {
    background-color: #307dc9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #1d4cf3;
  }
  
  /* Lista de Ativos */
  .ativos-lista {
    list-style: none;
    padding: 0;
  }
  
  .ativos-lista li {
    background-color: #ecf0f1;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  }
  
  /* Rodapé */
  footer {
    text-align: center;
    margin-top: 40px;
    color: #307dc9;
  }
  