body {
  width: 100%;
  height: auto;
  background-color: black;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: rgb(2, 194, 2);
}

#cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgb(2, 194, 2);
}

#visualizacao {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(2, 194, 2);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(2, 194, 2);
}
